<h1>User uploads</h1>

<% if @user.uploads.any? %>
  <h3>Uploads (<%= @user.uploads.count %>)</h3>
  <ul class="uploads">
    <% @uploads.each do |upload| %>
      <li>
        <%= upload.link %> 
          | <%= link_to "edit", edit_upload_path(upload) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3> No Uploads yet, get snappin' </h3>
<% end %>